<config>
 <input>
   <name>contactosAnonimos.csv</name>
   <sep>,</sep>
 </input> 
 <columnas>
   <PredictorasNumericas>cantidad sesiones, numero visitas paginas web...</PredictorasNumericas>
   <FuenteOriginal>fuente original</FuenteOriginal>
   <DominioMail></DominioMail>
   <Fechas>
     <creacion></creacion>
     <ultima_mod></ultima_mod>
     <apertura_ultimo></apertura_ultimo>
     <envio_ultimo></envio_ultimo>
     <apertura_primero></apertura_primero>
     <envio_primero></envio_primero>
     <visita_primero></visita_primero>
     <visita_ultimo></visita_ultimo>
     <tiempo>0.25, 8, 24</tiempo>
   </Fechas>
   
   <Target>status</Target>
   <Llamada>Resultado LLamada</Llamada>
   
 </columnas>
</config>
